<app-page-header 
    pageTitle="Simulações"
    [spinner]="true"
    [spinnerCondition]="!resources">
</app-page-header>

<div class="clr-row">

  <div class="clr-col-sm-12 clr-col-md-12">
    <h3>Totais</h3>
  </div>  

  <div class="clr-col-sm-12 clr-col-md-3">
    <div class="w-100">
      <div class="card">
        <div class="card-header">
          Contrato
        </div>
         <div class="card-block">
             <ul class="list-unstyled">
               <li>
                  <p class="card-text"> <strong>Total:</strong> {{contractValue | currency:'BRL':'symbol':'0.2-2':'pt' }}</p> 
                  <p class="card-text"> <strong>Entrada:</strong> {{contractEntry | currency:'BRL':'symbol':'0.2-2':'pt' }}</p> 
               </li>
             </ul>
         </div>
      </div>
    </div>
  </div>

  <div class="clr-col-sm-12 clr-col-md-3">
    <div class="w-100">
      <div class="card">
          <div class="card-header">
            Previsto
          </div>
          <div class="card-block">
              <ul class="list-unstyled">
                <li *ngFor="let prev of prevTotalByType">
                   <p class="card-text"> <strong>{{prev.type}}:</strong> {{prev.amount | currency:'BRL':'symbol':'0.2-2':'pt' }}</p> 
                </li>
              </ul>
          </div>
          <div class="card-footer">
              <p class="card-text"><strong>Total:</strong> {{prevTotal | currency:'BRL':'symbol':'0.2-2':'pt' }}</p>
          </div>
      </div>
    </div>
  </div> 

  <div class="w-100 clr-col-sm-12 clr-col-md-12 mt-3">

    <div class="mb-3"><h3>Histórico de simulações realizadas</h3></div>

    <button class="btn btn-sm" (click)="showForm = !showForm">adicionar</button> 
    
    <app-simulation-form *ngIf="showForm" 
        [totals]="prevTotalByType"
        [contractValue]="contractValue" 
        [contractEntry]="contractEntry"
        [prevTotal]="prevTotal">
    </app-simulation-form>

    <div *ngIf="resources" class="w-100">

        <clr-datagrid class="" >

            <clr-dg-column [clrDgField]="'composition'">
                <ng-container *clrDgHideableColumn="{hidden: false}">
                    Composição
                </ng-container>
            </clr-dg-column>

            <clr-dg-column [clrDgField]="'total'">
                <ng-container *clrDgHideableColumn="{hidden: false}">
                    Total
                </ng-container>
                <clr-dg-numeric-filter [clrDgNumericFilter]="amountFilter"></clr-dg-numeric-filter>
            </clr-dg-column>

            <clr-dg-column [clrDgField]="'entry'">
                <ng-container *clrDgHideableColumn="{hidden: false}">
                    Entrada
                </ng-container>
            </clr-dg-column>

            <clr-dg-column class="w-auto">
                <ng-container *clrDgHideableColumn="{hidden: true}">
                    %
                </ng-container>
            </clr-dg-column>

            <clr-dg-column [clrDgField]="'funding'">
                <ng-container *clrDgHideableColumn="{hidden: false}">
                    Financiamento
                </ng-container>
            </clr-dg-column>

            <clr-dg-column class="w-auto">
                <ng-container *clrDgHideableColumn="{hidden: true}">
                    %
                </ng-container>
            </clr-dg-column>

            <clr-dg-column [clrDgField]="'renovation'">
                <ng-container *clrDgHideableColumn="{hidden: false}">
                    Reforma
                </ng-container>
            </clr-dg-column>

            <clr-dg-column [clrDgField]="'installment'">
                <ng-container *clrDgHideableColumn="{hidden: false}">
                    Vl. 1a. Parcela
                </ng-container>
            </clr-dg-column>

            <clr-dg-column [clrDgField]="'fundFees'">
                <ng-container *clrDgHideableColumn="{hidden: true}">
                    Financiar Taxas
                </ng-container>
            </clr-dg-column>

            <clr-dg-column [clrDgField]="'composeIncome'">
                <ng-container *clrDgHideableColumn="{hidden: false}">
                    Compor Renda
                </ng-container>
            </clr-dg-column>

            
            <clr-dg-placeholder>Nenhuma simulação encontrada</clr-dg-placeholder>

            <clr-dg-row *clrDgItems="let resource of resources" [clrDgItem]="resource">
                <clr-dg-action-overflow  [attr.aria-expanded]="!modalDeleteItemOpen">
                    <!-- <button class="action-item" (click)="showResource(resource)">Exibir</button>
                    <button class="action-item" (click)="editResource(resource)">Editar</button> -->
                    <button class="action-item" (click)="confirmToDelete(resource)">Deletar</button>
                </clr-dg-action-overflow>     

                <clr-dg-cell>{{ resource.composition}}</clr-dg-cell> 
                <clr-dg-cell>{{+resource.total | currency:'BRL':'symbol':'0.2-2':'pt' }}</clr-dg-cell>
                <clr-dg-cell>{{+resource.entry | currency:'BRL':'symbol':'0.2-2':'pt'  }}</clr-dg-cell>
                <clr-dg-cell class="w-auto">{{+resource.entryPct | number:'0.2-2':'pt' }}</clr-dg-cell>
                <clr-dg-cell>{{+resource.funding | currency:'BRL':'symbol':'0.2-2':'pt'  }}</clr-dg-cell>
                <clr-dg-cell class="w-auto">{{+resource.fundingPct | number:'0.2-2':'pt' }}</clr-dg-cell>
                <clr-dg-cell>{{+resource.renovation | currency:'BRL':'symbol':'0.2-2':'pt'  }}</clr-dg-cell>
                <clr-dg-cell>{{+resource.installment | currency:'BRL':'symbol':'0.2-2':'pt'  }}</clr-dg-cell>
                <clr-dg-cell>{{resource.fundFeesText }}</clr-dg-cell>
                <clr-dg-cell>{{resource.composeIncomeText }}</clr-dg-cell>

                <clr-dg-row-detail *clrIfExpanded> 
                    <p>
                        Data da simulação: <strong>{{ resource.simDate}}</strong> 
                        | Taxa de juros efetiva com bonificação: <strong>{{ resource.interest | number:'0.2-2':'pt'}}</strong> % a.a. <strong>{{ resource.interestAM | number:'0.2-2':'pt'}}</strong>% a.m. + TR 
                        | Custo Efetivo Total (CET) com bonificação: <strong>{{ resource.cet | number:'0.2-2':'pt'}}</strong> % a.a. 
                        | Custo Efetivo do Seguro Habitacional (CESH): <strong>{{ resource.cesh | number:'0.2-2':'pt'}}</strong>% 
                        | Prazo: <strong>{{ resource.term }}</strong> anos																		
                    </p>
                </clr-dg-row-detail>                

            </clr-dg-row>

            <clr-dg-footer>
                <clr-dg-pagination #pagination [clrDgPageSize]="10">
                        <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Itens por página</clr-dg-page-size>
                        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                    de {{pagination.totalItems}} simulações
                </clr-dg-pagination>
            </clr-dg-footer>
        </clr-datagrid>
    </div>
  </div>  
  
</div>


<clr-modal #acceptDelete [(clrModalOpen)]="modalDeleteItemOpen" [clrModalStaticBackdrop]="false">
    <h3 class="modal-title">Confirma a exclusão do item?</h3>
    <div class="modal-body">
        <p>Esta operação não pode ser desfeita</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="onCancelModal()">cancelar</button>
        <button type="button" class="btn btn-primary" (click)="onAcceptModal()">aceitar</button>
    </div>
</clr-modal>