<app-page-header 
    pageTitle="Pagamentos"
    [spinner]="true"
    [spinnerCondition]="!resources || resources.length == 0">
</app-page-header>

<div *ngIf="resources && resources.length > 0">

    <a class="btn btn-sm" routerLink="new">adicionar</a>    
    <clr-datagrid class="" >
        <clr-dg-column [clrDgField]="'recipient'">
            <ng-container *clrDgHideableColumn="{hidden: false}">
                Beneficiário
            </ng-container>
        </clr-dg-column>
        <clr-dg-column [clrDgField]="'dueDate'" [clrDgSortBy]="dueDateSorter">
            <ng-container *clrDgHideableColumn="{hidden: true}">
                Dt. Vencimento
            </ng-container>
        </clr-dg-column>
        <clr-dg-column [clrDgField]="'amount'" >
            <ng-container *clrDgHideableColumn="{hidden: true}">
                Valor
            </ng-container>
            <!-- <clr-dg-numeric-filter [clrDgNumericFilter]="amountFilter"></clr-dg-numeric-filter> -->
        </clr-dg-column>
        <clr-dg-column [clrDgField]="'payDate'" [clrDgSortBy]="payDateSorter">
            <ng-container *clrDgHideableColumn="{hidden: false}">
                Dt. Pagamento
            </ng-container>           
        </clr-dg-column>
        <clr-dg-column [clrDgField]="'payAmount'">
            <ng-container *clrDgHideableColumn="{hidden: false}">
                Valor Pago
            </ng-container>
            <clr-dg-numeric-filter [clrDgNumericFilter]="payAmountFilter"></clr-dg-numeric-filter>
        </clr-dg-column>
        <clr-dg-column [clrDgField]="'auth'">
            <ng-container *clrDgHideableColumn="{hidden: true}">
                Autenticação
            </ng-container>
        </clr-dg-column>
        <clr-dg-column [clrDgField]="'account'">
            <ng-container *clrDgHideableColumn="{hidden: false}">
                Conta
            </ng-container>
        </clr-dg-column>
        <clr-dg-column [clrDgField]="'cnpj'">
            <ng-container *clrDgHideableColumn="{hidden: false}">
                CNPJ
            </ng-container>
        </clr-dg-column>
        
        <clr-dg-placeholder>Nenhum pagamento encontrado</clr-dg-placeholder>

        <clr-dg-row *clrDgItems="let resource of resources" [clrDgItem]="resource">
            <clr-dg-action-overflow>
                <button class="action-item" (click)="editResource(resource)">Edit</button>
                <button class="action-item" (click)="deleteResource(resource)">Delete</button>
            </clr-dg-action-overflow>            
            <clr-dg-cell>{{resource.recipient}}</clr-dg-cell>
            <clr-dg-cell>{{resource.dueDate }}</clr-dg-cell>
            <clr-dg-cell>{{+resource.amount | currency:'BRL':'symbol':'0.2-2':'pt' }}</clr-dg-cell>
            <clr-dg-cell>{{resource.payDate }}</clr-dg-cell>
            <clr-dg-cell>{{+resource.payAmount | currency:'BRL':'symbol':'0.2-2':'pt' }}</clr-dg-cell>
            <clr-dg-cell>{{resource.auth}}</clr-dg-cell>
            <clr-dg-cell>{{resource.account | account }}</clr-dg-cell>
            <clr-dg-cell>{{resource.cnpj | cnpj }}</clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>
            <clr-dg-pagination #pagination [clrDgPageSize]="10">
                    <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Itens por página</clr-dg-page-size>
                    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                de {{pagination.totalItems}} pagamentos
            </clr-dg-pagination>
        </clr-dg-footer>
    </clr-datagrid>
</div>